$black: #000000;
$parisM: #0C0466;
$blueRibbon: #0072FF;
$azureRadiance: #007AFF;
$blue: #0070F3;
$zumthor: #E5F0FF;
$aliceBlue: #F2F8FF;
$lynch: #616f8a;
$regentGray: #8891A3;
$iron: rgb(43 44 48 / 16%);
$gallery: rgba(174, 174, 174, .1);
$mystic: #E2E6ED;
$athensGray: #EBEEF2;
$white: #FFFFFF;
$oceanGreen: #36B37E;
$tuna: #363A42;
$redOrange: #FF2E2E;
$chestnut: #B44747;
$errorHover: #FAC3C3;
$cornflowerBlue: #eaeaea;
